.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-block {
    width: 475px;
    height: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    height: 100%;
}

.card {
    box-shadow: 2px 2px 5px 1px;
    -webkit-box-shadow: 2px 2px 5px 1px;
    border-radius: 5px;
    background: -webkit-linear-gradient(#EEEEEE, #F9F9F9);
}
