<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-red">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">BBOSS</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fa fa-tachometer" aria-hidden="true"></i>  Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-file-code-o" aria-hidden="true"></i> Log Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-eye" aria-hidden="true"></i> Manage Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-cogs" aria-hidden="true"></i> Manage Configurations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-money" aria-hidden="true"></i> Bill Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>-->
      </ul>
    </div>
</nav>
<br><br><br><br>
<router-outlet></router-outlet>